/* 全体の基本スタイル */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* ゲーム盤のスタイル */
.board {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  width: 500px;
  height: 500px;
  margin: 20px auto;
  background-color: #000; 
  border: 2px solid #000;
  gap: 1.5px;
}

/* マスのスタイル */
.cell {
  width: 100%;
  height: 100%;
  background-color: #008000; /* 緑色 */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* 石のスタイル */
.piece-container {
  width: 80%;
  height: 80%;
  position: relative;
  transition: transform 0.6s; /*アニメーション時間0.6s*/
  transform-style: preserve-3d;/*3D空間で変形させる宣言*/
  z-index: 10;/*ヒントマーカーより手前に表示*/
}

/*回転*/
.piece-container.is-flipped {
  transform: rotateY(180deg);
}

/*石の表裏共通*/
.piece-front,
.piece-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/*黒石*/
.piece-front {
  background-color: #000;
}

/*色石*/
.piece-back {
  background-color: #fff;
  transform: rotateY(180deg); /*初期状態で裏*/
}

/* ヒントマーカー */
.hint-marker {
  font-size: 2em;
  color: rgba(0,0,0,0.5);

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  pointer-events: none;
}
